<p-card [header]="card.header" [subheader]="card.subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="card.imageUrl" />
    </ng-template>
    <p>
        {{ card.text }}
    </p>
    <!-- <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template> -->
</p-card>